*~
.DS_Store
*.class
*.iml
.classpath
.project
out/
.settings/
.idea/
META-INF/
*.swp
GameServer/logs
GameServer/target
server.pid
GameCore/target/
GameServer/scriptBin
Message/target/
ConfigData/target
GameData/target
AutoLoadCache/doc
GRobot/logs
GRobot/target
/sys.log
LoginServer/target
FightServer/logs
FightServer/target
FightServer/scriptBin

serverIndex.txt
windowIndex.txt
GMUtils/logs/
LoginServer/logs/
LoginServer/bak/
GameServer/logsbd
GiftCodeServer/logs
GiftCodeServer/bak
